<div class="bg-gradient-to-r from-blue-200 to-yellow-900">
<div class="flex flex-wrap">
<h2>here is a list of all the events! </h2>
{{#each events as |event|}}
<div class="{{cycle_event_style}}">
{{>all-event-details}}
</div>
{{/each}}

</div>
</div>



